a[href="https://www.youtube.com/"] {
    color: red;
}

a[ href="https://validator.w3.org/"] {
    color: red;
}

<p>
Lorem ipsum,dolor sit amet consectetur adipisicing elit. Dolore,accusamus. 
</p> {
    font-size: 24px;
}